<!-- <div>
  <div *ngFor="let item of skills">{{item | json}}</div>
</div> -->
<hr>
<div class="row">
	<div class="col-3"></div>
	<div class="col-7">
		<mat-table matSort class="lessons-table mat-elevation-z8" [dataSource]="dataSource">
		  
		    <ng-container matColumnDef="id">
		        <mat-header-cell *matHeaderCellDef mat-sort-header>Skill Id</mat-header-cell>
		        <mat-cell *matCellDef="let skill">{{skill.id}}</mat-cell>
		    </ng-container>

		    <ng-container matColumnDef="name">
		        <mat-header-cell *matHeaderCellDef mat-sort-header>Skill Name</mat-header-cell>
		        <mat-cell *matCellDef="let skill">{{skill.name}}</mat-cell>
		    </ng-container>
		    
		    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		    
		    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
		   
		</mat-table>
		<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
	</div>
</div>

