<!-- Form Data: {{form.value | json}} -->
<div class="row">
	<div class="col-2"></div>
	<div class="col-8">
	<div class="form-group">
		<form [(formGroup)]="form">
			<label>Email ID </label><input 
			[class.is-invalid]="form.get('email').invalid && form.get('email').touched" 
			class="form-control" type="text" formControlName="email" disabled="disabled">
			<small [class.d-none]="form.get('email').valid || form.get('email').untouched" class="text-danger">Email is required.</small>
			<br>
			<label>Name </label><input 
			[class.is-invalid]="form.get('name').invalid && form.get('name').touched"
			class="form-control" type="text" formControlName="name">
			<div *ngIf="form.get('name').invalid && form.get('name').touched">
				<small *ngIf="form.get('name').errors?.required" class="text-danger">Name is required.</small>
				<small *ngIf="form.get('name').errors?.minlength" class="text-danger">Name must be atleast 3 characters.</small>
			</div>
			<label>Institute </label><input class="form-control" type="text" formControlName="institute">
			<label>Degree </label><input class="form-control" type="text" formControlName="degree">
			<label>Location </label><input class="form-control" type="text" formControlName="location">
			<label>Joining Date </label><input class="form-control"  type="date" placeholder="yyyy-mm-dd" ngbDatepicker formControlName="joiningdate">
			<div class="form-group" formGroupName="address">
				<label>Address </label><br>
				<textarea class="form-control" formControlName="addressText" rows="3"></textarea>
					<!-- <label>Street </label><input class="form-control"  type="text" formControlName="street">
					<label>City </label><input class="form-control"  type="text" formControlName="city">
					<label>State </label><input class="form-control"  type="text" formControlName="state">
					<label>Pin </label><input class="form-control"  type="text" formControlName="pincode"> -->
			</div>
			<div class="form-group" formGroupName="skills">
				<label>Skills </label><br>
				<select formControlName="sname" (change)="addToSkillList()">
			    <option *ngFor="let order of allskills; let i = index" [value]="allskills[i].id">
			      {{allskills[i].name}}
			    </option>
			  	</select>
			</div>
			<label *ngFor="let skillId of gradSkills">{{ skillId }}, </label>
			<br>
			<label>Feedback </label>
				<textarea class="form-control" formControlName="feedback" rows="3"></textarea>
			<!-- <button type="submit" [disabled]="!form.valid">Submit</button> -->
			<button  class="btn btn-success" type="submit" (click)="onSubmit()">Submit</button>
		</form>
	</div>
	</div>
</div>
<div class="col-2"></div>
<script type="text/javascript">$(document).ready(function() {
$('.mdb-select').materialSelect();
});</script>
