  <nav style="background-color: #CBEAE0 !important" class="navbar navbar-expand-lg navbar-light bg-light">  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">  
      <ul class="navbar-nav mr-auto">  
        <a class="nav-link"> 
          <p style="font-size:20px">
          <i class=" fas fa-user"></i>
          <b> Welcome {{this.socialusers.name}} !</b></p>
          <span class="sr-only"></span>
        </a>   
      </ul>
      <form class="form-inline my-2 my-lg-0">  
          <!-- <a class="nav-link">{{this.socialusers.name}} <span class="sr-only"></span></a>   -->
        <button (click)="logout()" class="btn btn-outline-success my-2 my-sm-0" ><i class="fas fa-sign-out-alt" ></i> Logout</button>  
      </form>  
    </div>  
  </nav>
  <br>
  <div class="row align-items-center">
    <div class="col-1"></div>
    <div class="col-9">
      <span style="display:inline-block; width:50px;"></span>
      <a [routerLink]="['/addgrad']"><i style="color: orange" class="fas fa-user-graduate fa-8x" ></i></a>
      <span style="display:inline-block; width:125px;"></span>
      <a [routerLink]="['/viewgrad']"><i class="fas fa-user-edit fa-8x"></i></a>
      <span style="display:inline-block; width:75px;"></span>
      <a [routerLink]="['/viewgrad']"><i style="color: red" class="fas fa-address-card fa-8x"></i></a>
      <span style="display:inline-block; width:70px;"></span>
      <!-- <a [routerLink]="['/addskill']"><i class="fas fa-user-edit fa-8x"></i></a>&nbsp;&nbsp;&nbsp; -->
      <a [routerLink]="['/viewskill']"><i style="color: green" class="fas fa-award fa-8x"></i></a>
      <span style="display:inline-block; width:40px;"></span>
      <a id="trends" [routerLink]="['/trends']"><i class="fas fa-chart-pie fa-8x"></i></a>
      <br>
      <div style="display:flex;" class="btn-group btn-group-lg ">
      <button class="btn btn-outline-warning " [routerLink]="['/addgrad']">Add New Graduate</button>
      <button class="btn btn-outline-info" [routerLink]="['/viewgrad']">Edit Existing Graduate</button>
      <button class="btn btn-outline-danger" [routerLink]="['/viewgrad']">View Graduates</button>
      <!-- <button class="btn btn-lg btn-primary" [routerLink]="['/addskill']">Add New Skills</button>&nbsp; -->
      <button class="btn btn-outline-success" [routerLink]="['/viewskill']">View Skills</button>
      <button class="btn btn-outline-primary" [routerLink]="['/trends']">Trends</button>
    </div>
    </div>
  </div>