<script src="node_modules/chart.js/Chart.min.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>

<div class="row">
	<div class="col-2"></div>
	<div class="col-8">
	<button class="btn btn-outline-info" (click)="getLocationChartData()">Graduates Per Location</button>&nbsp;
	<button class="btn btn-outline-success" (click)="getInstituteChartData()">Graduates Per Institute</button>&nbsp;
	<button class="btn btn-outline-warning" (click)="getDegreeChartData()">Graduates Per Degree Chart</button>&nbsp;
	
	<button class="btn btn-outline-danger" (click)="getJoiningYearChartData()">Graduates Joining Per Year </button>&nbsp;
	</div>
</div>


<div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>

<!-- <div id="chartContainerPie" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div> -->