
<hr style="border-top: 1px solid #eee;">  

<div class="text-center">
    <button style="padding: 0; border: none; background: none;" (click)="socialSignIn('google')">
    <img src="assets/signInWithGoogle.png"/>
	</button>
</div>  