<!-- <ul>
  <li>
    <p>
      {{ graduate.name }} • {{ graduate.id }}
    </p>
  </li>
</ul> -->

<div class="row">
	<div class="col-3"></div>
	<div class="col-6">
		<mat-card class="example-card">
		  <mat-card-header>
		    <mat-card-title>{{ graduate.name }}</mat-card-title>
		    <mat-card-subtitle>Employee ID : {{ graduate.id }}</mat-card-subtitle>
		  </mat-card-header>
		  <mat-card-content>
		    <p>
		      Institute <b>{{ graduate.institute }}</b> <br>
		      Degree <b>{{ graduate.degree }}</b>
		    </p>
		    <p>
		      Location <b>{{ graduate.location }}</b>
		    </p>
		    <small>
		      Feedback : {{ graduate.feedback }}
		    </small>
		    <br>
		    <small>
		      Address : {{ graduate.address }}
		    </small>
		  </mat-card-content>
		  <mat-card-actions>
		    <button class="btn btn-warning" mat-button (click)="goToEdit()"><i class="fas fa-user-edit"></i>Edit</button>&nbsp;
		    <button class="btn btn-warning" mat-button (click)="versionHistory()"><i class="fas fa-history"></i> View Edit History</button>&nbsp;
		    <button class="btn btn-warning" mat-button (click)="goToGradViewAll()"><i class="fas fa-chevron-circle-left"></i> Go Back</button>
		  </mat-card-actions>
		</mat-card>
	</div>
</div>