<div class="row">
	<div class="col-1"></div>
	<div class="col-9">
		<mat-table matSort class="lessons-table mat-elevation-z8" [dataSource]="dataSource" >
		  
		    <ng-container matColumnDef="id">
		        <mat-header-cell *matHeaderCellDef  mat-sort-header>Id</mat-header-cell>
		        <mat-cell *matCellDef="let grad">{{grad.id}}</mat-cell>
		    </ng-container>

		    <ng-container matColumnDef="name">
		        <mat-header-cell *matHeaderCellDef  mat-sort-header>Name</mat-header-cell>
		        <mat-cell *matCellDef="let grad">{{grad.name}}</mat-cell>
		    </ng-container>

		    <ng-container matColumnDef="institute">
		        <mat-header-cell *matHeaderCellDef  mat-sort-header>Institute</mat-header-cell>
		        <mat-cell *matCellDef="let grad">{{grad.institute}}</mat-cell>
		    </ng-container>

		    <ng-container matColumnDef="degree">
		        <mat-header-cell *matHeaderCellDef  mat-sort-header>Degree</mat-header-cell>
		        <mat-cell *matCellDef="let grad">{{grad.degree}}</mat-cell>
		    </ng-container>

		    <ng-container matColumnDef="location">
		        <mat-header-cell *matHeaderCellDef  mat-sort-header>Location</mat-header-cell>
		        <mat-cell *matCellDef="let grad">{{grad.location}}</mat-cell>
		    </ng-container>
		    
		    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		    
		    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="displayRecord(row)"></mat-row>

		</mat-table>
		<mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
		<button class="btn btn-outline-secondary" mat-button [routerLink]="['/viewgrad']"><i class="fas fa-chevron-circle-left"></i> Go Back</button>
	</div>
</div>