<p>addskill works!</p>
Form Data: {{form.value | json}}
<div class="row">
	<div class="col-2"></div>
	<div class="col-8">
	<div class="form-group">
		<form [(formGroup)]="form">
			<!-- <label>Skill ID </label><input class="form-control"  type="text" formControlName="skillid"> -->
			<small class="form-text text-muted"></small>
			<label>Skill Name </label><input class="form-control"  type="text" formControlName="skillname">
			<button  class="btn btn-success" type="submit" (click)="onSubmit()">Submit</button>
		</form>
	</div>
	</div>
</div>
